nav {
    background: navy;
    width: 15%;
    height: 100%;
    position:fixed;
    left: 0px;
    top: 0px;

    color: #fff;
}

nav a {
    color: #fff;
}

body {
    padding-left: calc(15% + 20px);
    padding-top: 20px;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
    font-family: 'Bree Serif', serif;
}

pre {
    font-family: 'Inconsolata', monospace;
}

.abc_source {
    display: none;
}

table.tunedetails {
    width: 100%;
}

table.tunedetails td {
    padding: 6px 12px;
    vertical-align: top;
}

table.tunedetails td input, table.tunedetails td textarea {
    font-size: 1.2em;
    width: 100%;
}

table.tunedetails td textarea {
    width: 100%;
    height: 350px;
    font-family: 'Inconsolata', monospace;
}

.hint {
    color: #aaa;
    font-size: .8em;
}