<nav>
  <div id="login">
    {% if user.is_authenticated %}
    <p>Logged in</p>
    <a href="/logout">Log out</a>
    {% else %}
    <form action="/login" method="post">
      {% csrf_token %}
      <input type="text" name="username"><br>
      <input type="password" name="password"><br>
      <input type="submit">
    </form>    
    {% endif %}
  </div>
  
  <ul>
    <li><a href="/">Main page</a></li>
    <li><a href="/tunes/">Tunes</a></li>
    <li><a href="/tune/new">New tune</a></li>
    <li><a href="/about">About</a></li>
  </ul>  
</nav>
